.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 104px;
  height: 80px;
  background-color: transparent;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
}

.header_light {
  background-color: #ffffff;
  position: static;
  box-shadow: 0px -1px 0px 0px #d1d2d6 inset;
}

.header__logo {
  font-family: "Roboto Slab", Arial, serif;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  position: relative;
  z-index: 200;
  margin: 0;
  display: flex;
  align-items: center;
}

.header__logo_light {
  color: #1a1b22;
}

@media (max-width: 768px) {
  .header {
    padding: 0 40px;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 0 16px;
    height: 56px;
  }
  .header__logo {
    font-size: 16px;
  }
}
